# PyCity Schools Analysis

- 

---

In [115]:
# Initalize dependancies
import pandas as pd
from pathlib import Path

school_data_path = Path("../Resources/schools_complete.csv")
student_data_path = Path("../Resources/students_complete.csv")

# Create and merge dataframes
schoolData = pd.read_csv(school_data_path)
studentData = pd.read_csv(student_data_path)

completeData = pd.merge(studentData, schoolData, how="left", on=["school_name", "school_name"])
completeData.head()

In [116]:
# Prints the length of the school data set
schoolCount = len(schoolData)
schoolCount

15

In [117]:
# Prints the length of the student data set
studentCount = len(studentData)
studentCount

39170

In [118]:
# Prints the sum of the budget column of the school data set
totalBudget = schoolData["budget"].sum()
totalBudget

24649428

In [119]:
# Prints the mean of the math_score column
averageMath = completeData["math_score"].mean()
averageMath

78.98537145774827

In [120]:
# Prints the mean of the reading_score column
averageReading = completeData["reading_score"].mean()
averageReading

81.87784018381414

In [121]:
# Counts total students with math scores >= 70, then returns the percent of total
passedMathTotal = completeData[(completeData["math_score"] >= 70)].count()["student_name"]
passedMathPercent = passedMathTotal / float(studentCount) *  100
passedMathPercent

74.9808526933878

In [122]:
# Counts students with reading scores >= 70, then returns the percent of total
passedReadingTotal = completeData[(completeData["reading_score"] >= 70)].count()["student_name"]
passedReadingPercent = passedReadingTotal / float(studentCount) *  100
passedReadingPercent

85.80546336482001

In [123]:
# Counts students with passing reading and math scores, then returns the percent of total
passedBothTotal = completeData[(completeData["math_score"] >= 70) & 
                               (completeData["reading_score"] >= 70)].count()["student_name"]
passedBothPercent = passedBothTotal / float(studentCount) * 100
passedBothPercent

65.17232575950983

In [127]:
districtSummary = pd.DataFrame({"Total Schools": schoolCount, "Total Students": studentCount,
                                "Total Budget": totalBudget, "Average Math Score": averageMath,
                                "Average Reading Score": averageReading, "% Passing Math": passedMathPercent,
                                "% Passed Reading": passedReadingPercent, "% Overall Passing": passedBothPercent}, index=[0])

districtSummary["Total Students"] = districtSummary["Total Students"].map("{:,}".format)
districtSummary["Total Budget"] = districtSummary["Total Budget"].map("${:,.2f}".format)

districtSummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passed Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326